.home-page {
  background: url('../../images/seattle-night.jpg');
  background-repeat: no-repeat;
  height: 100vh;

  .home-page-container {
    
    h1, p {
      color: white;
    }
  }

  .profile-photo {
    margin-top: 7rem;
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

  .last-updated {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}